{% extends 'base.html.twig' %}

{% block title %}News Search{% endblock %}

{% block body %}
    <div class="container">
        <h2>News Parsed</h2>
        {% include "news_search/table.html.twig" %}
    </div>
{% endblock %}
